<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img src="./../../assets/img/logo-200506-094136.png" alt="logo" class="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                home
            </i>
            Início
        </a>

    </span>
</mat-toolbar>